main {
    margin-bottom: 0;
}

#mapid {
    height: 80vh;
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.col-form-label {
    color: dimgrey;
    text-decoration: underline #2C698D;
}

.form-group {
    margin-top: 3rem !important;
}

form {
    display: flex;
    justify-content: center;
    color: dimgrey;
}