{% extends 'base.html.twig' %}

{% block title %}Jeu Formulaire{% endblock %}

{% block body %}
<div class="container formjeu">
    {{ form_start(jeuxform) }}
    {{ form_row(jeuxform.nom) }}
    <button class="btn d-block col-8 mx-auto">Valider</button>
    {{ form_end(jeuxform) }}
</div>
{% endblock %}