{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
<div class="container border">
    <h1>Ceci est la conversation avec l'utilisateur {{ id }}.</h1>
</div>
{% endblock %}