{% extends "base.html.twig" %}

{% block title %}CGU{% endblock %}

{% block body %}
<div class="cgu container text-justify">
    <h2 class="text-center mt-2 text-uppercase">Les CGU</h2>
    <br>
    {# <p>
            En application de la loi <span class="font-weight-bold">n°2004-575 du 21 juin 2004</span> relative à la confiance dans l’économie numérique, 
            vous trouverez ci-dessous les informations légales concernant ce site.
        </p> #}
    <br>

    <h4>Description du site</h4>
    <p>
        Le site "Projet Go" est a destination des joueurs de jeu en Réalité Augmenté (dit RA). <br>
        Le site a pour vocation de mettre en relation les joueurs de jeu en RA situé dans la même ville. <br>
        Le site peut également permetrent aux joueur de communiquer afin de pouvoir se retrouver et jouer ensemble. <br>
        Le site à également pour vocation de permettrent de nouvelles relations entre les joueurs pouvant etre isoler.
    </p>
    <br>
    <h4>Droits et obligations de l'utilisateur</h4>
    <p>
        L'utilisateur à le droit de créer un compte pour pouvoir utiliser le site "Projet Go". <br>
        L'utlisateur à l'obligation de garder ses informations personnelles confidentiels. <br>
        L'utilisateur à l'obligation d'utiliser le site pour ce qui l'a été créer et de ne pas en détourner son
        utilisation.
    </p>
    <br>
    <h4>Droits et obligations de l'éditeur</h4>
    <p>
        L'éditeur du site est responsable du maintient de l'acces au site. <br>
        L'éditeur doit assurer le bon fonctionnement du site. <br>
        L'éditeur se dégage de toute résponsabilité en cas d'utilisation hors contexte et/ou frauduleuse du site.
    </p>
    <br>
    <h4>Conditions d'utilisation de la messagerie (Forum)</h4>
    <p>
        L'éditeur se dégage de toute responsabilité en cas de mauvaise utilisation de la messagerie (Forum) : <br><br>
        <svg id="Layer_1" style="enable-background:new 0 0 100 100;" version="1.1" viewBox="0 0 100 100"
            xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M66.6,48.8c-2,5.7-7.5,9.8-13.9,9.8s-11.8-4.1-13.9-9.8c-10.9,1.6-21.7,5-32,10.4c4.3,19.9,22,34.9,43.2,34.9  c22.1,0,40.3-16.2,43.6-37.3C84.8,52.8,75.8,50.2,66.6,48.8z" />
            <path d="M52.8,29.1c6.6,0,12.2,4.3,14.1,10.3c9.2,1.2,18.3,3.7,27.1,7.3C92.3,23.9,73.3,5.9,50,5.9C25.9,5.9,6.3,25.3,5.9,49.3  c10.6-5,21.6-8.3,32.8-9.8C40.6,33.5,46.2,29.1,52.8,29.1z" />
            <circle cx="52.8" cy="43.9" r="8.5" />
        </svg> lors de propos injurieux <br>
        <svg id="Layer_1" style="enable-background:new 0 0 100 100;" version="1.1" viewBox="0 0 100 100"
            xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M66.6,48.8c-2,5.7-7.5,9.8-13.9,9.8s-11.8-4.1-13.9-9.8c-10.9,1.6-21.7,5-32,10.4c4.3,19.9,22,34.9,43.2,34.9  c22.1,0,40.3-16.2,43.6-37.3C84.8,52.8,75.8,50.2,66.6,48.8z" />
            <path d="M52.8,29.1c6.6,0,12.2,4.3,14.1,10.3c9.2,1.2,18.3,3.7,27.1,7.3C92.3,23.9,73.3,5.9,50,5.9C25.9,5.9,6.3,25.3,5.9,49.3  c10.6-5,21.6-8.3,32.8-9.8C40.6,33.5,46.2,29.1,52.8,29.1z" />
            <circle cx="52.8" cy="43.9" r="8.5" />
        </svg> lors de publication mal-intentionnées <br>
        <svg id="Layer_1" style="enable-background:new 0 0 100 100;" version="1.1" viewBox="0 0 100 100"
            xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M66.6,48.8c-2,5.7-7.5,9.8-13.9,9.8s-11.8-4.1-13.9-9.8c-10.9,1.6-21.7,5-32,10.4c4.3,19.9,22,34.9,43.2,34.9  c22.1,0,40.3-16.2,43.6-37.3C84.8,52.8,75.8,50.2,66.6,48.8z" />
            <path d="M52.8,29.1c6.6,0,12.2,4.3,14.1,10.3c9.2,1.2,18.3,3.7,27.1,7.3C92.3,23.9,73.3,5.9,50,5.9C25.9,5.9,6.3,25.3,5.9,49.3  c10.6-5,21.6-8.3,32.8-9.8C40.6,33.5,46.2,29.1,52.8,29.1z" />
            <circle cx="52.8" cy="43.9" r="8.5" />
        </svg> lors de publication de contenu et de propos raciste
    </p>
    <br>
    <h4>Liens hypertextes</h4>
    <p>
        Ce site contient des liens hypertextes permettant l’accès à des sites qui ne sont pas édités par le responsable
        de ce site.
        En conséquence le directeur de publication ne saurait être tenu pour responsable du contenu des sites auxquels
        l’internaute aurait ainsi accès.
    </p>
    <br>
    <h4>Droit à la propriété intellectuelle</h4>
    <p>
        l'utilisation de tout ou partie du contenue du site "Projet Go" sans accord préalable de l'éditeur est
        interdite.
    </p>
    <br>
    <h4>La force majeur</h4>
    <p>
        Tout événenement extérieur et/ou imprevissible et insurmontable, exonére les 2 parties de leurs résponsabilités
        respectives. <br>
        <span class="font-weight-bold ml-2">Cette disposition est d'ordre Public.</span>
    </p>
    <br>
    <h4>Les modalités de réglements des litiges</h4>
    <p>
        Tout litiges devra être régler à l'amiable.
    </p>




</div>

{% endblock %}