{% extends "base.html.twig" %}

{% block title %}CGU{% endblock %}

{% block body %}
<div class="cgu container text-justify">
        <h2 class="text-center">Les CGU</h2>
        <br>
        {# <p>
            En application de la loi <span class="font-weight-bold">n°2004-575 du 21 juin 2004</span> relative à la confiance dans l’économie numérique, 
            vous trouverez ci-dessous les informations légales concernant ce site.
        </p> #}
        <br>
        
        <h4>Description du site</h4>
        <p>
            Le site "Projet Go" est a destination des joueurs de jeu en Réalité Augmenté (dit RA). <br>
            Le site a pour vocation de mettre en relation les joueurs de jeu en RA situé dans la même ville. <br>
            Le site peut également permetrent aux joueur de communiquer afin de pouvoir se retrouver et jouer ensemble. <br>
            Le site à également pour vocation de permettrent de nouvelles relations entre les joeurs pouvant etre isoler. 
        </p>
        <br>
        <h4>Droits et obligations de l'utilisateur</h4>
        <p>
            L'utilisateur à le droit de créer un compte pour pouvoir utiliser le site "Projet Go". <br>
            L'utlisateur à l'obligation de garder ses informations personnelles confidentiels. <br>
            L'utilisateur à l'obligation d'utiliser le site pour ce qui l'a été créer et de ne pas en détourner son utilisation. 
        </p>
        <br>
        <h4>Droits et obligations de l'éditeur</h4>
        <p>
            L'éditeur du site est responsable du maintient de l'acces au site. <br>
            L'éditeur doit assurer le bon fonctionnement du site. <br>
            L'éditeur se dégage de toute résponsabilité en cas d'utilisation hors contexte et/ou frauduleuse du site. 
        </p>
        <br>
        <h4>Conditions d'utilisation de la messagerie (Forum)</h4>
        <p>
            L'éditeur se dégage de toute responsabilité en cas de mauvaise utilisation de la messagerie (Forum) : <br>
            <ul>
                <li>lors de propos injurieux</li>
                <li>lors de publication mal-intentionnées</li>
                <li>lors de publication de contenu et de propos raciste</li>
            </ul>
        </p>
        <br>
        <h4>Nous contacter</h4>
        <p>
            Nous sommes joignables par le biais du formulaire de contact disponible sur le site. <br><br>
            Ou par courrier postale : 
            <br>
            5 avenue du stade <br>
            78520 Limay
        </p>


    </div>

{% endblock %}