{% extends "base.html.twig" %}

{% block title %}Les Mentions Légales{% endblock %}

{% block body %}

    <div class="lml container text-justify">
        <h2 class="text-center">Les Mentions Légales</h2>
        <br>
        <p>
            En application de la loi <span class="font-weight-bold">n°2004-575 du 21 juin 2004</span> relative à la confiance dans l’économie numérique, 
            vous trouverez ci-dessous les informations légales concernant ce site.
        </p>
        <br>
        
        <h4>Protection des données personnelles</h4>
        <p>
            Conformément à la loi Informatique et Libertés <span class="font-weight-bold">du 6 janvier 1978 (art. 34)</span>, vous disposez d’un droit d’accès, 
            de rectification ou de suppression concernant les données personnelles que nous pourrions être amenés à recueillir (données renseignées par vous).
        </p>
        <br>
        <h4>Liens hypertextes</h4>
        <p>
            Ce site contient des liens hypertextes permettant l’accès à des sites qui ne sont pas édités par le responsable de ce site.
            En conséquence le directeur de publication ne saurait être tenu pour responsable du contenu des sites auxquels l’internaute aurait ainsi accès.
        </p>
        <br>
        <h4>L'hébergement du site</h4>
        <p>
            Le site "Projet Go" est héberger sur : 
            <br>
            Gandi
        </p>
        <br>
        <h4>Réalisation et propriété du site</h4>
        <p>
            Ce site fût réaliser dans le but de passer un Titre Pro de niveau 5 (BAC+2). 
            <br><br>
            Il est la propriété des créateurs en charge de sa réalisation : 
            <br><br>
            <i class="fas fa-futbol"></i> Quentin Lagadou - Développeur Web <br>
            <i class="fas fa-quidditch"></i> Sylvie Morin - Développeuse Web 
            <br><br>
            Les logos et image du site ont été réaliser par : 
            <br>
            Morgane Belletti - Web Designer 
        </p>
        <br>
        <h4>Nous contacter</h4>
        <p>
            Nous sommes joignables par le biais du formulaire de contact disponible sur le site. <br><br>
            Ou par courrier postale : 
            <br>
            5 avenue du stade <br>
            78520 Limay
        </p>


    </div>




{% endblock %}