{% extends "base.html.twig" %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="container profil">
    <div class="en_tete d-flex ">
        <div class="image">
            <img src="{{ asset('images/avatar01.png') }}" alt="avatar" class="img-thumbnail">
        </div>
        <div class="infos_perso ml-5 p-2">
            <p>PSEUDO : <br>
                E-MAIL : <br>
                MOT DE PASSE : <br>
                VILLE : </p>
        </div>
    </div>
    <div class="text_descriptif mt-5">

    </div>
    <div class="jeux mt-5">
        <p>Liste de vos jeux :</p>
    </div>
    <div class="button">
        <button type="submit" class="btn col-12 mt-5">Ajouter un jeux</button> <br>
        <button type="submit" class="btn col-12 mt-2">Supprimer un jeux</button>
        <button type="submit" class="btn col-12 mt-2">Modifier le compte</button>
        <button type="submit" class="btn col-12 mt-2">Supprimer le compte</button>
    </div>
</div>



{% endblock %}